@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
}

.main{
    background-image: url("bg.jpg");
    /* background-size: cover; */
    background-size: max(1200px,100vw);
    background-repeat: no-repeat;
    background-position: center center;
    height: 70vh;
    position: relative;
}

.main .box{
    height: 70vh;
    width: 100%;
    opacity: 0.44;
    background-color: black;
    position: absolute;
    top: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80vw;
    margin: auto;
    height: 60px;
}

nav img{
    width: 145px;
    position: relative;
    z-index: 10;
}

nav button{
    position: relative;
    z-index: 10;
}


.hero{
    font-family: "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    z-index: 10;
    gap: 12px;
    padding: 30px;
}

.hero> :nth-child(1){
    text-align: center;
    font-weight: 900;
    font-size: 40px;
}

.hero> :nth-child(2){
    text-align: center;
    font-weight: 400;
    font-size: 24px;
}

.hero> :nth-child(3){
    text-align: center;
    font-weight: 400;
    font-size: 20px;
}